*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# files for the dex VM
*.dex

#Build time files
*.apk
*.ap_
*.aab
.idea
app/debug/output-metadata.json
app/release/output-metadata.json
